$font-header: "Fugaz One", cursive;
$no-spacing: 0;
$background-color: #272727fd;
$logo-dimension: 3em;
$card-width: 15%;
$card-button-width: 30%;
$card-button-height: 4em;
$card-dark-text: #ffffff;
$card-light-text: #000000;
$primary-shadow-color: #020202;
$container-gap: 2em;
$card-gap: 1em;
$lightblue-color: #cbe4f9;
$lightsea-color: #cdf5f6;
$lightred-color: #f9d8d6;
$lightpurple-color: #d6cdea;
$darkgrey-color: #253342;
$darkblue-color: #1a2d67;
$darkmauve-color: #631e39;
$darkgreen-color: #013a33;
$redshadow-color: #f72119;
$greenshadow-color: #46f953;
